.profil-connexion--container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.profil-connexion--container h2 {
    font-size: 75px;
    padding-left: 25px;
    border-bottom: 1px solid #84B28F;
}
@media (min-width: 1000px) {
    .profil-connexion--container h2 {
        font-size: 35px;
        padding-left: 75px;
    }
}
.profil-connexion--container div {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.profil-connexion--container div label {
    font-size: 35px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
}
@media (min-width: 1000px) {
    .profil-connexion--container div label {
        font-size: 15px;
        margin-left: 20px;
    }
}
.profil-connexion--container div input {
    margin-top: -5px;
    line-height: 10px;
    font-size: 45px;
    height: 90px;
    width: 700px;
    border: none;
    border-radius: 5px;
    background-color: #F9F9F9;
    border: 0.25px solid black;
    padding-left: 15px;
}
@media (min-width: 1000px) {
    .profil-connexion--container div input {
        height: 35px;
        width: 400px;
        font-size: 20px;
    }
}
.profil-connexion--container div a {
    text-decoration: none;
}


.profil-connexion--container input[type=submit] {
    width: 750px;
    margin: auto;
    font-size: 35px;
    height: 65px;
    margin-top: 85px;
    background-color: #9BD2A8;
    color: white;
    border-radius: 100px;
    border: 0px;
}
@media (min-width: 1000px) {
    .profil-connexion--container input[type=submit] {
        font-size: 15px;
        height: 35px;
        width: 400px;
    }
}


a{
    text-decoration: none;
    color: black;
}