#souligner{
    text-decoration: underline;

    padding-left: 45px;

}
#iden{
    text-decoration: underline;
}

#grade{
    text-decoration: underline;
}

p{

    padding-left: 55px;
    font-size: 20px;
}

#idgrade{
    padding-left: 200px;


}



button{
    font-size: 25px;
    background-color: #F9F9F9;

    margin-top: auto;
    border: none;
    position: relative;

}

#bouton{
    margin-left: 60%;
}
#modif{
    width: 20px;
    height: 20px;
}



#icone{
    width: 120px;
    height: 120px;
    float: left;
}

#colone{
    display: table;
    clear: both;
}
