/*VOTE HOME*/
.votes-home--container #proposerQuestionButton {
    display: block;
    padding: 8px 12px;
    background-color: #84B38F;
    border : solid 1px black;
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.votes-home--container #imgPropose {
    width: 17px;
    height: 17px;
}
.votes-home--container #question-title--container {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #9BD2A7;
}
.votes-home--container .listeQuestion {
    display: flex;
    flex-direction: row;
}
.votes-home--container #question-title {
    font-size: 25px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0px;
}
.votes-home--container #question-title .colored {
    color: #9BD2A7;
}
.votes-home--container div#question-title--container {
    width: 30vw;
    text-align: right;
}

.votes-home--container #imgFiltre {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.votes-home--container a#filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 50%;
}

@media (max-width: 1000px){
    .votes-home--container #proposerQuestionButton{
        font-size: 35px;
    }

    .votes-home--container #question-title{
        font-size: 45px;
    }

    .votes-home--container a#filtre{
        font-size: 40px;
    }
    .votes-home--container #imgFiltre{
        height: 40px;
        width: 40px;
    }
}

.questions-list--container {
    width: 60%;
    margin: auto;
}

