a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;

}

.title-question-p{
    font-size: 22.5px;
    width: 500px;
}

.question-see--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sect-see-question{
    display: flex;
    flex-direction: column;
}

.sub-see-question-container{
    margin-top: 25px;
    width: 400px;
}
.sub-see-question-container:nth-child(1){
    margin-top: 0px;
}
.sub-see-question-container h2 img {
    width: 22px;
    height: 22px;
}
.ml8px{
    margin-left: 5px;
}
.ml12px{
    margin-left: 12px;
}

.sub-see-question-container h2{
    margin-bottom: 0px;
    width: 400px;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.title-sub-see-question{
    border-bottom: 2px solid #84B38F;
    padding-left: 15px;
    font-family: "Poppins";
    font-size: 27.5px;
    min-width: 250px;
}

.sub-see-question-container p {
    padding-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 500px;

}

#PLAN
.sub-see-question-plan-container{
    margin-top: 25px;
    width: 400px;
}

.sub-see-question-plan-container h2 {
    margin-bottom: 5px;
}

.section-plan--container p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 100px;
}
.section-plan--container p:nth-child(2){
    margin-left: 25px;
    margin-top: -5px;
}

.section-plan--container{
    margin-bottom: 10px;
}

#PLAN
#sub-see-question-container-delais p {
    line-height: 10px;
}
#sub-see-question-container-delais-pfirst{
    margin-top: 10px;
 }

.reponse--container{
    width: 45%;
}

#proposerReponse{
    display: block;
    padding: 8px 12px;
    background-color: #84B38F;
    border : solid 1px black;
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Poppins Light";
    font-weight: bold;
}
#imgPropose {
    width: 17px;
    height: 17px;
}

.reponse-gagnante {
    background-color: #9BD2A7;
    margin-bottom: 105px;
}

.reponse-id--container{
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 0px;
    width: 85%;
    margin: auto;
    margin-top: 15px;
}

.reponse-id--container .reponse-number{
    margin-top: 0px;
    margin-bottom: 1px;
}

.reponse-id--container .reponse-title{
    margin-left: 10px;
    margin-top: 0px;
}

.reponse-number{
    margin-left: 5px;
}

.reponse-txt{
    margin-top: 25px;
    line-height: 20px;
    margin-left: 15px;
}

.autheur-and-nb-vote--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    line-height: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.nbVote-reponse{
    margin-top: 10px;
    margin-right: 5px;
    font-size: 15px;
    height: 15px;
}

.nbVote-reponse img{
    height: 15px;
    margin-right: 5px;
}

.autheur-reponse{
    margin-left: 5px;
    margin-bottom: 5px;
}
.inter-container-mobile {
    display: none;
}

.sub-see-reponse-container{
    margin-top: 25px;
    width: 400px;
    margin-left: 405px;
}

.title-reponse-container{
    width: 400px;
    margin-top : 25px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: auto;
}

.title-sub-see-reponse{
    width: 100%;
    border-bottom: 2px solid #84B38F;
    font-family: "Poppins";
    font-size: 27.5px;
}


@media (max-width: 1000px){
    .question-see--container{
        display: flex;
        flex-direction: column;
    }

    .sub-see-question-container:nth-child(1){
        margin-top: 0px;
    }

    .sub-see-question-container h2{
        font-size: 5px;
    }

    .inter-container-mobile{
        display: block;
        height: 1px;
        margin-top: 100px;
    }

    .reponse--container{
        width: 100%;
    }

    .reponse-number{
        font-size: 10px;
        margin-top: 20px;
        margin-left: 15px;
    }

    .autheur-and-nb-vote--container{
        font-size: 30px;
        padding-top: 10px;
    }

    .nbVote-reponse{
        margin-top: 20px;
        font-size: 25px;
        height: 30px;
    }

    .nbVote-reponse img {
        height: 30px;
    }

    .autheur-reponse{
        margin-bottom: 15px;
    }

}


