/*VOTE HOME*/
@font-face {
    font-family: "Poppins Light";
    src: url("../../assets/fonts/Poppins/Poppins-Light.ttf");
}

.votes-home--container #proposerQuestionButton {
    display: block;
    padding: 8px 12px;
    background-color: #84B38F;
    border : solid 1px black;
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Poppins Light";
    font-weight: bold;
}

.votes-home--container #imgPropose {
    width: 17px;
    height: 17px;
}

.votes-home--container #question-title--container {
    display: flex;
    flex-direction: row;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;

}

.listeQuestion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 22.5px;
}

a#filtre {
    text-align: end;
    margin-right: 150px;
    text-decoration: none;
    color: black;
    font-family: "Poppins Light";
    font-weight: bolder;

}

.votes-home--container #question-title {
    font-size: 25px;
    font-weight: bolder;
    margin-left: auto;
    font-family: "Poppins Light";

}

.colored {
    color: #9BD2A7;
    font-weight: bolder;
}

p#question-title {
    border-bottom : solid 2px #9BD2A7;
    text-align: end;
    font-family: "Poppins Light";
    font-weight: bolder;
    width: 250px;
}

.votes-home--container div#question-title--container {
    width: 30vw;
    text-align: right;
    border-bottom : solid 2px #9BD2A7;

}

div#question-title--container {
    border-bottom : solid 2px #9BD2A7;
    height: 18px;
    width: 300px;
}

.listeQuestion #imgFiltre {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.votes-home--container a#filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 50%;
}

.question-id--container{
    display: block;
    margin: auto;
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
}

#titreQuestion {
    font-weight: bold;
    font-size: 25px;
    /*border-top: solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px black;*/
    text-align: left;
    /*margin-left: 300px;
    margin-right: 300px;*/
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    font-family: "Poppins Light";
}

#texteQuestion {
    height: 60px;
    font-size: 15px;
    /*border-right: solid 3px black;
    border-left: solid 3px black;*/
    text-align: left;
    /*margin-left: 300px;
    margin-right: 300px;*/
    margin-left: 30px;
    font-family: "Poppins Light";
    display: flex;
    flex-direction: column;
}

#auteurEtCategorie{
    font-size: 15px;
    /*border-right: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px black;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*margin-left: 300px;
    margin-right: 300px;*/
    font-family: "Poppins Light";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 5px;
}

#categorie {
    background-color: #b0b0b0;
    border-radius: 10px;
    border: solid 1px #b0b0b0;
    margin-right: 5px;
    padding: 3px;
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #b0b0b0;
    margin-right: 5px;
    margin-left: 10px;

}

#auteur {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px){
    .votes-home--container #proposerQuestionButton{
        font-size: 30px;
        margin-left: 55vw;
    }

    .votes-home--container #imgPropose {
        width: 27px;
        height: 27px;
    }

    .votes-home--container a#filtre{
        font-size: 40px;
    }

    a#filtre {
        display: flex;
        flex-direction: row;
        margin-right: 100px;
        font-size: 45px;
    }
    a#filtre img{
        height: 50px;
        width: 50px;
    }

    p#question-title {
        border-bottom : solid 2px #9BD2A7;
        margin-right: 400px;
        text-align: end;
        font-size: 50px;
        min-width: 92px;
    }

    .listeQuestion {
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .question-id--container{
        width: 800px;
    }
    #titreQuestion {
        font-size: 35px;
     }
    #texteQuestion {
        font-size: 20px;
        min-height: 50px;
    }
    #auteurEtCategorie{
    }
}

.questions-list--container {
    width: 60%;
    margin: auto;
}

.question-div{
    background-color: white;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
}



