.title-reponse--container .title {
    width: 250px;
    border-bottom: 1px solid #84B38F;
}

.title-reponse--container .title h2 {
    margin-bottom: 0px;
    text-align: end;
}

.title-reponse--container .title h2 img {
    height: 20px;
}

.title-reponse--container .title-reponse-p {
    margin-left: 125px;
    font-size: 20px;
    width: 700px;
}

/*SECTION*/
.sections-reponse--container{
}

.section-title{
    width: 15%;
    border-bottom: 2px solid #9BD2A7;
}
.section-title h2 {
    text-align: right;
    margin-bottom: 0px;
}
.section-title h2 img {
    height: 15px;
}

.sections-reponse--container p {
    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 70px;
}



