.accueil--container div {
    margin-top: 25%;
    margin-left: 5%;
    line-height: 5px;
}
@media (min-width: 600px) {
    .accueil--container div {
        margin-top: 10%;
        margin-left: 25%;
    }
}
.accueil--container div h1 {
    font-family: "Poppins Medium";
    font-size: 115px;
}
@media (min-width: 600px) {
    .accueil--container div h1 {
        font-size: 90px;
    }
}
.accueil--container div h1 .colored {
    color: #84B28F;
}
.accueil--container div h2 {
    font-family: "Poppins Italic";
    font-size: 45px;
}
@media (min-width: 600px) {
    .accueil--container div h2 {
        font-size: 25px;
    }
}
.accueil--container div img {
    transform: rotateY(180deg);
    margin-left: 25%;
}
@media (min-width: 600px) {
    .accueil--container div img {
        width: 22.5%;
        margin-left: 35%;
    }
}
.accueil--container a {
    text-decoration: none;
}
.accueil--container a button {
    margin: auto;
    background-color: #84B38F;
    font-size: 40px;
    border: 0.5px solid gray;
    border-radius: 10px;
    width: 400px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 35%;
}
.accueil--container a button img {
    height: 50px;
}
@media (min-width: 600px) {
    .accueil--container a button {
        margin-top: 5%;
        height: 40px;
        width: 200px;
        font-size: 20px;
    }
    .accueil--container a button img {
        height: 25px;
    }
}