@font-face {
  font-family: "Poppins Light";
  src: url("../assets/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins/Poppins-regular.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../assets/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../assets/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins Italic";
  src: url("../assets/Poppins/Poppins-Italic.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #F9F9F9;
}

.accueil--container div {
  margin-top: 25%;
  margin-left: 5%;
  line-height: 5px;
}
@media (min-width: 600px) {
  .accueil--container div {
    margin-top: 10%;
    margin-left: 25%;
  }
}
.accueil--container div h1 {
  font-family: "Poppins Medium";
  font-size: 115px;
}
@media (min-width: 600px) {
  .accueil--container div h1 {
    font-size: 90px;
  }
}
.accueil--container div h1 .colored {
  color: #84B28F;
}
.accueil--container div h2 {
  font-family: "Poppins Italic";
  font-size: 45px;
}
@media (min-width: 600px) {
  .accueil--container div h2 {
    font-size: 25px;
  }
}
.accueil--container div img {
  transform: rotateY(180deg);
  margin-left: 25%;
}
@media (min-width: 600px) {
  .accueil--container div img {
    width: 25%;
    margin-left: 35%;
  }
}
.accueil--container a {
  text-decoration: none;
}
.accueil--container a button {
  margin: auto;
  background-color: #84B38F;
  font-size: 40px;
  border: 0.5px solid gray;
  border-radius: 10px;
  width: 400px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 35%;
}
.accueil--container a button img {
  height: 50px;
}
@media (min-width: 600px) {
  .accueil--container a button {
    margin-top: 10%;
    height: 40px;
    width: 200px;
    font-size: 20px;
  }
  .accueil--container a button img {
    height: 25px;
  }
}

.menu--container {
  background-color: white;
  width: 90vw;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu--container #close-img {
  height: 80px;
  margin-left: 10px;
  margin-top: 10px;
}
.menu--container #menu-logosomb {
  height: 250px;
  margin-right: 15px;
  float: right;
}
.menu--container h2 {
  font-family: "Poppins Medium";
  font-size: 75px;
  margin-top: 80px;
  margin-left: 35px;
  margin-bottom: 0px;
}
.menu--container h2 .colored {
  color: #84B28F;
}
.menu--container input {
  background-color: #F9F9F9;
  width: 400px;
  height: 60px;
  border: 0px;
  font-size: 40px;
  margin-top: 0px;
  margin-left: 40px;
  padding-left: 15px;
  border-radius: 6px;
  border: 0.25px solid #b0b0b0;
}
.menu--container .menu {
  margin-left: 75px;
}
.menu--container .menu a {
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-family: "Poppins Light";
}
.menu--container .menu a .colored {
  color: #84B28F;
}
.menu--container .menu a .bolder {
  font-family: "Poppins Medium";
}

.layout header .header-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 1000px) {
  .layout header .header-mobile {
    display: none;
  }
}
.layout header .header-mobile img {
  height: 80px;
  margin-left: 15px;
  margin-top: 15px;
}
.layout header .header-mobile p {
  font-family: "Poppins Medium";
  font-size: 85px;
  margin-top: 5px;
  margin-right: 15px;
}
.layout header .header-mobile p .colored {
  color: #84B28F;
}
.layout header .header-desktop {
  display: none;
}
@media (min-width: 1000px) {
  .layout header .header-desktop {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .layout header .header-desktop div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .layout header .header-desktop div:nth-child(1) a img {
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .layout header .header-desktop div:nth-child(1) input {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #F9F9F9;
    border: 0.25px solid black;
    margin-left: 25px;
  }
  .layout header .header-desktop div:last-child {
    align-items: center;
  }
  .layout header .header-desktop div:last-child nav {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
  }
  .layout header .header-desktop div:last-child nav a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
  }
  .layout header .header-desktop div:last-child nav p {
    max-height: 55.63px;
  }
  .layout header .header-desktop div:last-child nav p:hover {
    border-bottom: 1.5px solid #84B28F;
  }
  .layout header .header-desktop div:last-child a img {
    height: 60px;
    margin-right: 25px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=app.css.map */
