
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: #F9F9F9;
}

#souligner{
    text-decoration: underline;

    padding-left: 45px;



}
#iden{
    text-decoration: underline;
}

#grade{
    text-decoration: underline;
}

 p{

     padding-left: 55px;
 }

 div{
     padding-left: 300px;
 }

 button{
     font-size: 25px;
     background-color: #F9F9F9;

     margin-top: auto;
     border: none;
     position: relative;


 }

  #bouton{
      padding-left: 60%;





  }
