.accueil--container{
  div {
    margin-top: 25%;
    margin-left: 5%;
    line-height: 5px;
    h1 {
      font-family: "Poppins Medium";
      font-size: 115px;

      .colored{
        color: #84B28F;
      }
    }
    h2{
      font-family: "Poppins Italic";
      font-size: 45px;
    }
    img{
      transform: rotateY(180deg);
      margin-left: 25%;
    }
  }

  a{
    text-decoration: none;

    button{
      margin: auto;
      background-color: #84B38F;
      font-size: 40px;
      border: 0.5px solid gray;
      border-radius: 10px;
      width: 400px;
      height: 75px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-top: 35%;

      img {
        height: 50px;
      }
    }
  }
}