.layout{
  header{
    .header-mobile{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media(min-width: $minwidth){
        display: none;
      }

      img{
        height: 80px;
        margin-left: 15px;
        margin-top: 15px;
      }
      p {
        font-family: "Poppins Medium";
        font-size: 85px;
        margin-top: 5px;
        margin-right: 15px;

        .colored{
          color: #84B28F;
        }
      }
    }

    .header-desktop{
      display: none;
      @media (min-width: $minwidth) {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div{
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        div:nth-child(1){

          a{
            img{
              height: 70px;
              margin-top: 10px;
              margin-left: 20px;

            }
          }

          input {
            height: 30px;
            width: 200px;
            border: none;
            border-radius: 5px;
            background-color: #F9F9F9;
            border: 0.25px solid black;
            margin-left: 25px;
          }
        }

        div:last-child{
          align-items: center;
          nav {
            margin-right: 50px;
            display: flex;
            flex-direction: row;

            a{
              margin-right: 25px;
              text-decoration: none;
              color: black;
            }

            p {
              max-height: 55.63px;
            }

            p:hover {
              border-bottom: 1.5px solid #84B28F;

            }
          }

          a{
            img{
              height: 60px;
              margin-right: 25px;
              margin-left: 0px;
            }
          }
        }

      }
    }
  }
}